body
{
    background: #04496e;
}

#banner 
{
    color: white;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 100px;
    font-family: Arial Black, sans-serif;
}

/* Remove underline for all states */
#banner:link, #banner:visited, #banner:hover, #banner:active
{
    text-decoration: none;
}

#main
{
    max-width: 1500px;
}

.content
{
    margin: 5px;
}