<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} | Oxid Blog</title>

        <link rel = "stylesheet" href = "/assets/content.css" type = "text/css" />
    </head>
    
    <body>
        <header id = "header">
            <a href = "#" id = "banner">Oxid Blog</a>
        </header>

        <div id = "main">
            <section id = "content" class = "content">
                {% block content %}{% endblock content %}
            </section>

            <section id = "sidebar" class = "content">Stub</section>

        </div>

        <footer id = "footer">Footer</footer>
    </body>
</html>