{% extends "base.html" %}

{% block content %}
<form>
    <!-- User name input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="userName">User Name</label>
      <input type="text" id="userName" class="form-control" />
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="password">Password</label>
      <input type="password" id="password" class="form-control" />
    </div>
  
    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
  </form>
{% endblock content %}